html, body {
padding: 0;
margin: 0;
height: 100%;
width: 100%;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  color: black;
  height: 100%;
  width: 100%;
  background-color: black;
}

#mainSection {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#leftSide {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

#customSection {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}

.navButtonImage {
  width: 25px;
  height: 25px;
}

.navButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#inputSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#displayInputButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

.displayInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.displayButton {
  width: 25px;
  height: 25px;
}

#personalInput {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

#personalForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.personalInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
}